{% extends "index.html" %}

{% block head %}
<style>
    .cat_title_wrapper {
        display: flex;
        align-items: center;
    }
    .cat_title {
        width: 150px;
        font-size: .9rem;
        font-weight: bold;
        margin: 1.5rem auto;
        background-color: red;
        color: white;
        text-align: center;
        padding: .5rem 1.2rem;
    }
    .cat_title_wrapper > hr {
        border: 1px solid #ebebeb;
        width: 100%;
    }
    .prod_table {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .prod_wrapper {
        position: relative;
        margin: 0 2rem;
    }
    .prod_info {
        width: 150px;
        position: absolute;
        top: 10px;
        left: calc(50% - 75px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prod_category {
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        color: red;
        border-bottom: 1px solid #2b2b2b;
    }
    .prod_info > span {
        font-size: 0.8rem;
        color: #2b2b2b;
    }
    .prod_info > h4 {
        margin: 0.5rem 0;
    }
    .loadmore_wrapper {
        border: 1px solid #efefef;
        font-size: .8rem;
        color: red;
        padding: .8rem 1.5rem;
        text-align: center;
        width: 300px;
        margin: 1.2rem auto 0;
    }
    .loadmore > i {
        margin-right: .2rem;
    }
    .loadmore_wrapper:hover {
        background-color: #2b2b2b;
        color: white;
    }
</style>
{% endblock %}


{% block content %}
<div class="cat_title_wrapper">
    <h2 class="cat_title">Now Playing</h2>
    <hr>
</div>
<div class="prod_table">
    
{% for show in shows %}
    
    <div class="prod_wrapper">
        <img src="{{show.main_img.url}}">
        <div class="prod_info">
            <span class="show_id" style="display:none">{{show.id}}</span>
            <h5 class="prod_category">Sale</h5>
            <span>{{show.short_desc}}</span>
            <h4>{{show.name}}</h4>
            <span>({{show.start_date|date:"Y.m.d"}}~{{show.end_date|date:"Y.m.d"}})</span>
        </div>
    </div>

{% endfor %}
</div>
<div class="loadmore_wrapper">
    <h4 class="loadmore"><i class="fas fa-plus"></i>더 불러오기</h4>
</div>

<script>
    let product_list = document.querySelector('.prod_table')
    let prod_loader = document.querySelector('.loadmore')

    prod_loader.addEventListener('click', function(){
        let url = '{% url "api:additional_products" %}'
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type':'application/json',
                'X-CSRFToken':csrftoken
            },
            body.JSON.stringify({
                product_list
            })
        })
    }

    

    // 공연정보 더 불러오기 시작
    // prod_loader.addEventListener('click', function(){
    //     let current_list = document.querySelectorAll('.show_id')
    //     url = "/api/addtional_products"
    // fetch(url)
    // .then((resp) => resp.json())
    // .then(function(data){
    //     var list = data
    //     for (var i in list){
    //         console.log(list[i])
    //     }
    // })
    // .then(function(data){
    //     console.log(product_list)
    //     product_list.appendChild(`
        
        
        
    //     `)
    // })
    // })
</script>

{% endblock %}

